**/.DS_Store
**/node_modules
**/*.log
**/.env
**/.env.*
**/*.wxapkg
**/*.zip
**/*.test.js
**/*_test.go
/data
/output
/task-state
/queue
/tests
coverage
/tmp
internal/beautify/wxappUnpacker/DETAILS.md
internal/beautify/wxappUnpacker/ISSUE_TEMPLATE.md
internal/beautify/wxappUnpacker/README.md
internal/beautify/wxappUnpacker/bingo.sh
internal/beautify/wxappUnpacker/geek_road.jpg
.git
