BACKEND_IMAGE=crpi-66i7952lnkvwys0y.cn-heyuan.personal.cr.aliyuncs.com/mobi-ring/seewxapkg-backend:2.0.0-YYYYMMDDHHMM
FRONTEND_IMAGE=crpi-66i7952lnkvwys0y.cn-heyuan.personal.cr.aliyuncs.com/mobi-ring/seewxapkg-frontend:2.0.0-YYYYMMDDHHMM
